<template>
    <ul class="pagination pagination-sm">
        <li>
            <a class="page-link" href="javascript:void(0)" @click.prevent="changePage(1)" :disabled="pagination.current_page <= 1">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="page-link" href="javascript:void(0)" @click.prevent="changePage(pagination.current_page - 1)" :disabled="pagination.current_page <= 1">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
        </li>
        <li :class="isCurrentPage(page) ? 'active' : ''" v-for="page in pages">
            <a href="javascript:void(0)" @click.prevent="changePage(page)">{{ page }}</a>
        </li>
        <li>
            <a class="page-link" href="javascript:void(0)" @click.prevent="changePage(pagination.current_page + 1)" :disabled="pagination.current_page >= pagination.last_page">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="page-link" href="javascript:void(0)" @click.prevent="changePage(pagination.last_page)" :disabled="pagination.current_page >= pagination.last_page">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['pagination', 'offset'],
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = this.pagination.current_page - Math.floor(this.offset / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset - 1;
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                while (from <= to) {
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        }
    }
</script>
